.navBar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--primary-content);
}

.logo {
  height: 70px;
}

.navBarLeft {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.navBarLeft > h1 {
  color: var(--copy);
  font-family: 'Courier New', Courier, monospace;
}
