.navBar {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  background: rgba(56, 102, 65, 0.53);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2E8CF;
}

.logo {
  height: 80px;
  margin-left: 20px;
  margin: 10px;
}

.navBarRight {
  margin-right: 20px;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(195, 222, 143);
  
}

.navBarBtn {
  color: rgb(195, 222, 143);
  size: 10em;
}